{:kotoba.app/id "cloud.itonami.isic-0910", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreifmhsrayjiqw5umrle6m2qj6ljdbimkx6ylv3rk6c7zdcwvmzfk6i", :kotoba.app/embed-url "ipfs://bafkreifmhsrayjiqw5umrle6m2qj6ljdbimkx6ylv3rk6c7zdcwvmzfk6i", :published {:archive "https://kotobase.net/ipfs/bafkreifmhsrayjiqw5umrle6m2qj6ljdbimkx6ylv3rk6c7zdcwvmzfk6i", :size 72085, :put-status 201, :get-status 200, :at "2026-08-15T13:39:04.790Z"}}
